*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Inter;
    color: rgb(25,25,25);
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .logo{
    height: 5rem;
    margin-left: 5rem;
}
nav ul{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 5rem;
}
nav ul li a{
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    font-weight: 500;
    transition: .2s all;
}
nav ul li a:hover{
    color: gray;
}
/*HERO SECTION*/
.hero{
    background-image: url(package1.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hero h1{
    font-size: 5rem;
    margin-top: 10rem;
    color: white;
}
.hero p{
    color: white;
    font-weight:300;
    margin: 3rem;
}
.buttons1{
    display: flex;
    justify-content:space-evenly;
}
.buttons1 button{
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    background-color: transparent;
    border: none;
    border-radius: 3rem;
    transition:.2s all;
    text-decoration: underline;
}
.buttons1 button:hover{
    transform: translateY(-5px);
}
/* ABOUT US SECTION */
.about{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: left;
    margin: 1rem;
    width: 100;
    padding: 2rem;
    background-color: rgb(230,230,230);
    border-radius: 2rem;
}
.infotab1{
    width: 40%;
    margin-right: 3rem;
}
.infotab1 h1{
    font-size:3rem;
    margin-bottom:1rem;
}
.infotab1 p{
    font-size: 1.3rem;
    text-align: left ;
}

.containers1{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.p1,.p2,.p3,.p4{
    width: 40%;
    margin-right: 3rem;
}
.containers1 img{
    height: 5rem;
}
/* PACKAGES SECTION*/

.treks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.treks h1{
    font-size: 3rem;
}
.treks h3{
    margin-right: auto;
    margin-left: 3rem;
    margin-top: 5rem;
    font-size: 2rem;
    text-decoration: underline;
}
.containers2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
    height: 80vh;
}
.pkg1,.pkg2,.pkg3{
    width: 30vw;
    border-radius: 1rem;
    margin: 1rem;
    height: fit-content;
    background-color: rgb(230,230,230);
    height: 60vh;
    overflow: hidden;
}
.info1, .info2, .info3{
    padding: 1rem;
}
.containers2 img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.time{
    display: flex;
    margin-top: 2rem;
}
.time p{
    margin-left: auto;
    color: gray;
    font-weight: 500;
}